body {
    padding-top: 5rem;
}

.container{
	margin-left: 100px;
}

.imgbox{
	display: grid;
	align-content: left;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}


.image{
	width:  340px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}